<div class="nav-container" *ngIf = "designService.secondScreenEnabled">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>1.Desing category</ng-template>
                    <stepOne-view  ></stepOne-view>
                    <button *ngIf="designService.isSubCatSelected" (click)="next(stepper)">Next</button>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" >
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel >2.Design brief</ng-template>
                   <stepTwo-view></stepTwo-view>
                   <button (click)="next(stepper)">Next</button>
                  </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup" >
                    <form [formGroup]="thirdFormGroup">
                        <ng-template matStepLabel >3.Contest details</ng-template>
                        <stepThree-view></stepThree-view>
                    </form>
                </mat-step>

        </mat-horizontal-stepper>  
</div>

<div *ngIf = "designService.secondScreenEnabled==false">
        <secondScreen-view ></secondScreen-view>
</div>